name: "Micro ToDo UI Image"

on: workflow_dispatch


permissions:
  id-token: write
  contents: read

jobs:
  BuildImage:
    runs-on: ubuntu-latest
    env:
        IMAGE_NAME: appsmicrotodo-ui
        IMAGE_TAG: v1
        ACR_NAME: appsacrrrrrr
        ACR_LOGIN_SERVER: appsacrrrrrr.azurecr.io
        

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
          
      - name: Log in to ACR (Admin)
        run: |
          echo ${{ secrets.ACR_PASSWORD }} | docker login $ACR_LOGIN_SERVER \
            --username ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Build Docker Image
        run: sudo docker build -t $IMAGE_NAME:$IMAGE_TAG .

      - name: Tag Docker Image for ACR
        run: sudo docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG

      - name: Push Docker Image to ACR
        run: sudo docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG


    


